fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1
python-dotenv==1.0.1
PyMuPDF==1.25.1
pdfplumber==0.11.4
pytesseract==0.3.13
Pillow==11.0.0
sentence-transformers==3.3.1
chromadb==0.6.3
llama-index-core==0.12.7
llama-index-embeddings-huggingface==0.4.2
groq==0.13.1
google-genai==1.12.1
networkx==3.4.2
httpx==0.28.1
